.header{
  color: brown;
  background-color: aqua;
}

.bb{
  background-color: aqua;
}

h2{
  text-align: center;
  width: 1500px;
}

h3{
  text-align: center;
}

h4{
  text-align: center;
}


h5{
  text-align: center;
}
